{% load static %}
{% load honeypot %}
<!--
#001D2B

#baf6ff
-->
<footer id="footer" class="mb-5" style="border-radius:10px;">
    <div class="container shadow-sm" style="border-radius:10px;">
        <div class="row align-items-center">
            <div class="col-sm p-3 m-2 ">
                <div class="col-sm d-flex flex-wrap align-items-center justify-content-center p-0">
                    <a class="badge  border btn-light m-2 p-2" href="{% url 'index' %}">Почетна</a>
                    <a class="badge  border btn-light m-2 p-2" href="{% url 'advanced_search' %}">
                        Публикации</a>
                    <a class="badge border  btn-light m-2 p-2 " href="{% url 'contact' %}">Истражувачки акции</a>

                    <a class="badge border  btn-outline-success m-2 p-2" href="https://journal.anovin.mk/api/"
                       style="text-decoration: none;">Блог</a>
                </div>
            </div>
            <div class="col-sm p-3 m-1  d-flex justify-content-center align-items-center" style="font-size:30px;">

                <a href="https://www.facebook.com/istrazuvackodrustvo/" class="bi bi-facebook"
                   style="border-radius:4px; color:#001f3d;  margin:12px;">
                </a>
                <a href="https://twitter.com/IDSBiolozi" class="bi bi-twitter"
                   style="border-radius:4px;color:#001f3d; margin:12px;"></a>
                <a href="mailto:idsbiolozi@gmail.com" class="bi bi-envelope-fill"
                   style="border-radius:4px;color:#001f3d; margin:12px;"></a>
                <a href="https://www.instagram.com/biologystudents/" class="bi bi-instagram"
                   style="border-radius:4px;color:#001f3d; margin:12px;"></a>
            </div>
            <div class="col-sm p-4">
                <p align="center" style="font-size: 13px;">
                    Адреса: ул. Архимедова бб 1000 Скопје
                </p>
            </div>
        </div>
    </div>

</footer>


