<ul class="p-0 d-flex m-0 mt-3 mb-3 d-flex align-items-center" style="border-radius: 0;">
    <li class="nav-item mx-2" style="list-style-type: none;">
        <a class=" btn btn-sm border btn-light d-flex align-items-center justify-content-between " style="font-weight: 700;"
           href="{% url 'dashboard-posts' %}">
            <span>Сите објави</span>
        </a>
    </li>
       <li class="nav-item mx-2" style="list-style-type: none;">
        <a class=" btn btn-sm border btn-success d-flex align-items-center justify-content-between " style="font-weight: 700;"
           href="{% url 'create_blog_view' %}">
            <span>Нова објава</span>
        </a>
    </li>
   <li class="nav-item mx-2" style="list-style-type: none;">
        <a class=" btn btn-sm border btn-info d-flex align-items-center justify-content-between " style="font-weight: 700;"
           href="{% url 'dashboard-cats' %}">
            <span>Категории</span>
        </a>
    </li>


</ul>