<!DOCTYPE html>
<html lang="mk">
<head>
    <meta charset="UTF-8">
    <title>Поднеси ракопис</title>
    {% include 'head.html' %}
</head>
<body style="padding: 0 10px;">
{% include 'menu.html' %}
<div class="container p-4 mt-3 mb-5 shadow-sm" style="border-radius: 10px;">

    <form method="post" enctype="multipart/form-data" id="myForm" onsubmit="return validateForm()">
        {% csrf_token %}
        <div class="form-group mb-4">
            <label>Е-пошта</label>
            <input type="email" name="email" class="form-control mb-3 shadow-sm" placeholder="Внесете е-пошта"/>
        </div>
        <div class="form-group mb-4">
            <label>Телефон</label>
            <input type="text" name="phone" class="form-control mb-3 shadow-sm" placeholder="Внесете телефон"/>
        </div>
        <div class="form-group mb-4">
            <label>Целосно име на главниот автор</label>
            <input type="text" name="main_author" class="form-control mb-3 shadow-sm" placeholder="Внесете главен автор"/>
        </div>
        <div class="form-group mb-4">
            <label>Целосна адреса на авторот</label>
            <input type="text" name="author_full_address" class="form-control mb-3 shadow-sm"
                   placeholder="Внесете целосна адреса на авторот"/>
        </div>
        <div class="form-group mb-4">
            <label>Наслов на ракописот</label>
            <input type="text" name="title" class="form-control mb-3 shadow-sm" placeholder="Внесете наслов на ракописот"/>
        </div>
        <div class="form-group">
            <label>Листа на автори (пр. Стефан Деспотовски, Ана Лијанова, Самир Идризи...)</label>
            <input type="text" name="keywords" class="form-control mb-3 shadow-sm" placeholder="Внесете автори"/>
        </div>
        <div class="form-group mb-4">
            <label>Додадете само .docx формат (Word)</label><br>
            <input type="file" name="file" class="shadow-sm" placeholder="Прикачи фајл"/>
        </div>
        <div class="form-group">
            <label>Клучни зборови</label>
            <input type="text" name="keywords" class="form-control mb-3 shadow-sm" placeholder="Внесете клучни зборови"/>
        </div>


        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary shadow-sm" style="border-radius: 10px; ">Поднеси за
                преглед
            </button>

        </div>
    </form>
</div>


<script>
    const validateForm = () => {
        // get form values
        const email = document.querySelector('input[name="email"]').value;
        const phone = document.querySelector('input[name="phone"]').value;
        const mainAuthor = document.querySelector('input[name="main_author"]').value;
        const authorAddress = document.querySelector('input[name="author_full_address"]').value;
        const title = document.querySelector('input[name="title"]').value;
        const authors = document.querySelector('input[name="keywords"]').value;
        const file = document.querySelector('input[name="file"]').value;
        const keywords = document.querySelector('input[name="keywords"]').value;

        // create an array to store any errors
        const errors = [];

        // validate email
        if (!email || !email.includes('@')) {
            errors.push('Внесете валидна е-пошта');
        }

        // validate phone
        if (!phone || phone.length < 9) {
            errors.push('Внесете валиден телефонски број');
        }

        // validate main author
        if (!mainAuthor || mainAuthor.length < 2) {
            errors.push('Внесете валидно име на главниот автор');
        }

        // validate author address
        if (!authorAddress || authorAddress.length < 10) {
            errors.push('Внесете валидна адреса на авторот');
        }

        // validate title
        if (!title || title.length < 5) {
            errors.push('Внесете валиден наслов на ракописот');
        }

        // validate authors list
        if (!authors || authors.length < 5) {
            errors.push('Внесете валидна листа на автори');
        }

        // validate file
        if (!file || !file.endsWith('.docx')) {
            errors.push('Прикачете фајл во .docx формат');
        }

        // validate keywords
        if (!keywords || keywords.length < 5) {
            errors.push('Внесете валидна листа на клучни зборови');
        }

        // check if there are any errors
        if (errors.length > 0) {
            // display errors
            alert(errors.join('\n'));
            return false;
        }

        // form is valid
        return true;
    }

</script>


</body>
</html>